body {
    background-image: url('imgs/cs2-background-guarded.jpg');
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: top; 
}

#sheet-data {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
  
.container {
    display: flex;
    height: 100vh;
}

#left-side, #right-side {
    flex: 1; 
    /*opacity: 0.25;*/
    text-align: center;
    color: #fff;
}

#left-side {
    background-color: pink;
}

#right-side {
    background-color: green;
}
